<table style="width: 99%" class="text-center mx-auto table mt-5 table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Full Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Country</th>
      <th scope="col">Age</th>
      <th scope="col">Last updated</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

    <% users.forEach(user => { %>
          <tr>
      <th scope="row">1</th>
      <td><%= user.uname %></td>
      <td><%= user.gender %></td>
      <td><%= user.country %></td>
      <td><%= user.age %></td>
      <td><%= user.updatedAt %> </td>
      <td>
        <a data-bs-toggle="tooltip" data-bs-title="View details" data-bs-placement="top" class="btn btn-primary btn-sm"
          href="/user/view/<%= user._id %>"><i class="bi bi-eye"></i></a>

        <a data-bs-toggle="tooltip" data-bs-title="Edit user" data-bs-placement="top" class="btn btn-primary btn-sm"
          href="/user/edit/<%= user._id %>">
          <i class="bi bi-pencil"></i>
        </a>
        <button data-bs-toggle="tooltip" data-bs-title="Delete user" data-bs-placement="top"
          class="btn btn-danger btn-sm">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
    <% }) %>
    <tr>
      <th scope="row">2</th>
      <td>Layla Sayed </td>

      <td>Female</td>
      <td>Saudi Arabia</td>
      <td>15</td>
      <td>2 days ago</td>
      <td>
        <a data-bs-toggle="tooltip" data-bs-title="View details" data-bs-placement="top" class="btn btn-primary btn-sm"
          href="/user/view"><i class="bi bi-eye"></i></a>

        <a data-bs-toggle="tooltip" data-bs-title="Edit user" data-bs-placement="top" class="btn btn-primary btn-sm"
          href="/user/edit">
          <i class="bi bi-pencil"></i>
        </a>
        <button data-bs-toggle="tooltip" data-bs-title="Delete user" data-bs-placement="top"
          class="btn btn-danger btn-sm">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>